.search-form {
    padding: .5rem 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 5px;
}

.search-form .btn-sm {
    line-height: 1;
    font-size: 0.9rem;
}

.search-form input {
    border: 1px solid #eab9e0;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 4px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1rem;
}