.notfound {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #f36ec2;
}

.notfound h1 {
    font-size: 4rem;
    margin: 0;
}

.notfound p {
    font-size: 1.2rem;
    color: #723459;
}